{% extends "base.html" %}

{% block title %} Mastery hospital - All patients {% endblock %}

{% block nav-content %}
    <i class="fas fa-hospital-user"></i>&nbsp;&nbsp; Patients
{% endblock %}

{% block time %}
    <div class="col-sm">
        <center>
            <span id="clock" style="color: lightblue;"></span>
        </center>
    </div>
{% endblock %}

{% block btn-nav %}
    <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm border-light 
    fw-bolder text-light" id="btn-nav" data-bs-toggle="modal" data-bs-target="#logoutModal">
        Logout
    </a>
{% endblock %}

{% block content %}
    <div class="container">
        <br><br>

        <div class="d-flex justify-content-between">
            <a href="{% url 'add_patient' %}" class="btn btn-outline-primary btn-sm">
                <i class="fas fa-plus"></i>&nbsp;Add Patient
            </a>
            <span>
                Welcome: <strong><span class="text-primary">{{ user.get_username }}</span></strong>
            </span>
            {% block show_patients_btn %}
                <a href="{% url 'show_all_patients' %}" class="btn btn-outline-primary btn-sm" id="showAllPatients">
                    Show All Patients
                </a>
            {% endblock %}
        </div>

        {% block query %}
            <form method="GET">
                <div class="input-group input-group-sm mb-3 mt-4">
                    <input type="text" name="q" class="form-control" placeholder="Search for..." 
                    value="{{ request.GET.q }}" required>
                    <button class="btn btn-secondary">
                        <i class="fas fa-search"></i> 
                    </button>
                    <a href="{% url 'backend' %}" class="btn btn-dark" 
                    style="margin-left: 2px;">
                        <i class="fas fa-sync-alt"></i>
                    </a>

                </div>
            </form>
        {% endblock %}
        .


        <center>
            <table class="table table-bordered table-sm mt-4 col-lg-12 col-md-4" style="text-align: center; font-size: 14px;">

                <thead class="table-primary">
                    <tr>
                        <th style="width: 21%;">Name</th>
                        <th style="width: 15%;">Phone</th>
                        <th style="width: 21%;">Email</th>
                        <th style="width: 8%;">Age</th>
                        <th style="width: 7%;">Gender</th>
                        <th style="width: 18%;">Registered</th>
                        <th style="width: 10%;" colspan="2">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for patient in patients %}
                        <tr>
                            <td data-label="Name" id="top-table"> {{ patient.name }} </td>
                            <td data-label="Phone" id="responsive-border"> {{ patient.phone }} </td>
                            <td data-label="Email" id="responsive-border"> {{ patient.email }} </td>
                            <td data-label="Age" id="responsive-border"> {{ patient.age }} </td>
                            <td data-label="Gender" id="responsive-border"> {{ patient.gender }} </td>
                            <td data-label="Registered" id="responsive-border"> {{ patient.created_at | date:'m/d/Y (H:i)' }} </td>
                            <td>
                                <a href="/patient/{{ patient.id }}" class="btn btn-primary" title="Edit patient">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" title="Delete patient" data-bs-toggle="modal" data-bs-target="#deleteModal{{ patient.pk }}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <div class="modal fade" id="deleteModal{{ patient.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5 text-danger" id="deleteModalLabel">
                                    <i class="fas fa-trash-alt"></i>&nbsp;Delete Patient</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center text-danger">
                                        <i class="far fa-times-circle fa-5x mb-4 mt-2"></i>
                                    </div>
                                    <div class="text-center text-danger">
                                        <span>Do you want to delete this patient?</span>
                                        <div class="text-dark mt-3 mb-2">
                                            Patient: <strong>{{ patient.name }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                                <a href="{% url 'delete_patient' patient.id %}" type="button" class="btn btn-outline-danger btn-sm">Delete</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
            {% if error_message %}
                <p class="text-danger fw-bolder fs-4">Patient not found!</p>
            {% endif %}
        </center>

        <!-- Modal (Delete confirmation)-->

        <p>
            <span class="text-primary fw-bolder">
                Total Patients:</span> 
                {% block patients_length %} 
                    {{ db_patients.count }}
                {% endblock %}
        </p>
        

        <nav class="mt-4">
            {% if patients.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if patients.has_previous %}
                        <a href="?page=1" class="btn btn-outline-primary mb-4"
                        
                        pstyle="width: 60px; border-radius: 1px; border: 1px solid #d3d3d3;">First</a>
                        <li class="page-item">
                            <a href="?page={{ patients.previous_page_number }}" class="page-link">
                                <
                                ppai class="fas fa-angle-double-left"></>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"></li>
                    {% endif %}
                    
                    {% for i in patients.paginator.page_range %}
                        {% if patients.number == i %}
                            <li class="page-item active">
                                <span class="page-link">
                                    {{ i }}
                                    <spa class="sr-only"></spa>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if patients.has_next %}
                        <li class="page-item">
                            <a href="?page={{ patients.next_page_number }}" class="page-link">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </li>

                        <a href="?page={{ patients.paginator.num_pages }}" class="btn btn-outline-primary mb-4"
                        style="width: 60px; border-radius: 1px; border: 1px solid #d3d3d3; border-left: none;">Last</a>
                    {% else %}
                        <li class="page-item disabled"></li>
                    {% endif %}
                </ul>
            {% endif %}
        </nav>


        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    var m = "{{ message }}";
                    swal("Perfect!", m, "success")
                </script>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}